.widget-recent-posts
  img
    object-fit: cover
.recent-post-title
  font-family: Lato
  font-size: 14px
  font-style: normal
  font-weight: 400
  line-height: 20px
  letter-spacing: 0
  text-align: left
