.widget-recent-posts-wrapper {
  width: 23%;
}

.widget-recent-posts img {
  -o-object-fit: cover;
     object-fit: cover;
}

.widget-recent-posts-title {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .sidebar-front-page {
    width: 100%;
  }
  .widget-recent-posts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
  }
  .recent-post-link {
    width: 100%;
    border: 1px solid #000000;
  }
}
